@{
    ViewData["Title"] = "Tech Challenge";
}
@using WebApplication1.ViewModels
 @model LoginViewModel
<div class="text-center">
    <h1 class="display-4">Tech Challenge - LuizaLabs</h1>
</div>
<div class="container d-flex justify-content-center">

            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
               
                <div asp-validation-summary="All" class="text-danger"></div>
                 <input type="hidden" asp-for="ReturnUrl" />
                    <div class="text-center">
                        <h1 class="display-4">Bem Vindo ao Magalu!</h1>
                    </div>

                    </form>

</div>


